body {
    font-family: 'Times New Roman', Times, serif;
}

.logout a {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 20px;
    background-color: #f2f2f2;
    color: black;
}

.logout a:hover {
    background-color: #45a049;
    color: white;
}

.center {
    margin: 20px auto;
    width: 70%;
    padding: 5px;
    text-align: center;
}

/* Styles for table elements */
.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    background-color: #f2f2f2;
}

td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav.main-nav .logo {
    display: flex;
    align-items: center;
}

nav.main-nav .logout {
    margin-left: auto; /* Aligns the logout button to the right */
}
